<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Input Form</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <h1>RMA Testing Form</h1>
        
        <div class="form-section">
            <h2>Inspector Information</h2>

            <div class="section-layout-row">
                <div>
                    {{ form.inspector.label_tag}}
                    {{ form.inspector }}
                </div>
                <div>
                    {{ form.date.label_tag}}
                    {{ form.date }}
                </div>
            </div>
        </div>

        <div class="form-section">
            <h2>RMA Info</h2>

            <div class="section-layout-row">
                <div>
                    {{ form.ticket_number.label_tag}}
                    {{ form.ticket_number }}
                </div>
                <div>
                    {{ form.rma_number.label_tag}}
                    {{ form.rma_number }}
                </div>
                <div>
                    {{ form.serial_number.label_tag}}
                    {{ form.serial_number }}
                </div>
            </div>
        </div>

        <div class="form-section">
            <h2>RMA Inspections</h2>
            <h3>Visual Inspection</h3>

            <div class="section-layout-column">
                <div style="display: flex; flex-direction: row; justify-content: center; gap: 25px;">
                    <div>
                        {{ form.screen_condition.label_tag}}
                        {{ form.screen_condition }}
                    </div>
                    <div>
                        {{ form.mount_condition.label_tag}}
                        {{ form.mount_condition }}
                    </div>
                </div>
                <div>
                    {{ form.other.label_tag}}
                    {{ form.other }}
                </div>
            </div>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>